<div class="container">
  <form #todoForm (ngSubmit)="todoSubmit(todoForm.value)">
    <div class="form-group">
      <h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <span class="input-group-text" (click)="addTodo(todo.value)"><i class="material-icons">add</i></span>
      </div>
      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let todo of todoArray; let i = index;" [attr.data-index]="i">{{todo}}<i (click)="deleteItem(i)"
              class="material-icons">delete</i></li>
        </ul>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
